# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/notincludes/
/includes/video.html
/includes/db_config.php
/testing.php
/uploads
includes/js/main.js
includes/space.html
includes/data.txt
includes/customers.json
js/main.js
vendor/
users/

tags

.*
!.gitignore
!.gitattributes
!.htaccess
!.env-example

views_c/
