# AddHandler application/x-httpd-php .xml
RewriteEngine on
RewriteRule trovitfeed.xml trovitfeed.php [NC,L]
RewriteRule indeedfeed.xml indeedfeed.php [NC,L]

# Route all requests to the index file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} ".*\.php$"
RewriteRule ^(.*)$ /index.php?request_file=$1 [NC,L,QSA,END]
# RewriteCond %{REQUEST_FILENAME} "!index\.php$"
# RewriteCond %{REQUEST_FILENAME} "[^(index)]\.php$"

RewriteCond %{REQUEST_URI} "^/$"
RewriteRule .* /home [NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !".*\.php$"
RewriteRule ^(.*)/?(.*)?/?(.*)$ /index.php?controller=$1&function=$2&arguments=$3 [NC,L,QSA,END]

#Rewrite Rule ^[index|index.php]$ http://localhost/jojobboard [NC,L]
ErrorDocument 404 /jojobboard/error/404.php 
